@using MongoMembership.Entities
@*@model List<TBL_USERS>
@{
    ViewBag.Title = "Index";
    var subUserList = (TBL_USERS)ViewData["managementlist"];
}*@

<div class="row">
    <div class="span4">
        <h2>manage sub-user</h2>
        <ul>
@*           @foreach (var item in Model)
           {
                <li>@item.user_name</li>    
           } *@
        </ul>
    </div>

    <div class="span8">
        
    </div>
</div>
